.profile-box {
    background: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--gray);
    box-shadow: 0 2px 4px #0003;
}

.profile-box p {
    font-size: 18px;
    margin-bottom: 10px;
}
