{% extends "base.html" %}
{% block title %}Login - Wanderdex{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_base.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />

{% endblock %}

{% block content %}
<main>
  <div class="auth-container">
    <h2>Login</h2>
    
    <form action="{{ url_for('login_clean') }}" method="post">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username" required />
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div class="form-links">
        <a href="{{ url_for('recuperar_senha') }}" class="form-link-secondary">Recuperar Senha</a>
        <p>
          Não tem uma conta?
          <a href="{{ url_for('registrar') }}" class="form-link-primary">Criar conta.</a>
        </p>
      </div>

      <button type="submit" class="auth-button">Entrar</button>
    </form>
  </div>
</main>
{% endblock %}